<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th>Region</th>
    <th>Country</th>
    <th>Postal code</th>
  </tr>

  <%= render 'house', :house => @house, :locals => {:path => rooms_path(Room.where(house_id: @house.id).each { |r| r.id})} %>


</table>