<h1>Pametna Kuća</h1>

<h3>O Pametnoj Kući</h3>
<p>Pametna kuća (eng. Smart Home) je naziv koji podrazumijeva integraciju raznih, prije svega električnih uređaja u domaćinstvu, kojima se može upravljati na razne načine. Naziv se počeo koristiti sedamdesetih godina prošlog stoljeća te je označavao stambene objekte koji ostvaruju energetsku učinkovitost, dok se u osamdesetim godinama pojavljuju prvi primjeri upravljanja raznim sustavima pomoću računala.

</p>
<p>
  Danas naziv pametna kuća podrazumijeva energetski učinkovitu kuću sa inteligentnim sustavom upravljanja, koji objedinjuje sve funkcijske uređaje te automatizacijske i komunikacijske postupke koji dom čine ugodnijim i komfornijim za život.
</p>
<p>
  Pametna se kuća temelji na inteligentnom sustavu upravljanja koji objedinjuje sve funkcijske uređaje te automatizacijske i komunikacijske postupke. Općenito se takav sustav sastoji od centralnog uređaja, nadzornih funkcionalnih uređaja i završnih uređaja.
</p>
<p>
  Centralni uređaj dobiva informacije iz vanjskog svijeta putem različitih senzora temperature, svjetlosti, mehaničkih senzora otvorenosti/zatvorenosti vrata i prozora, senzora detekcije pokreta, vatre, dima i sl. Tako dobivene informacije se obrađuju u procesoru i na temelju zadanih uputa, procesor upravlja ostalim uređajima, rasvjetom, klima uređajima, sustavom za grijanje, automatskim sustavima za vrata ili prozore, odnosno procesor može upravljati svime što se nalazi u kući.
</p>
<p>
  Svi uređaji su međusobno povezani u centralnu mrežu kako bi se mogli kontrolirati i nadzirati sa različitih pozicija. Mreža može biti izvedena pomoću žičanih kabela, bežično ili korištenjem postojeće strujne mreže.
</p>
<p>
  S tehnološkog aspekta, samo su mašta i cijena granice, koliko funkcija i zadaća može biti povezano u pametnoj kući.
</p>
<p>
  Moderne pametne kuće najčešće objedinjuju sljedeće funkcionalne zadaće:
<ul>
  <li>
    HVAC (engl. Heating, Ventilation and Air Conditioning) – grijanje, hlađenje i
    ventilacija tj. energetski učinkovita regulacija temperature</li>
  <li>
    Rasvjeta – Prilagođavanje rasvjete prema razini osvijetljenosti ili senzoru pokreta</li>
  <li>
    Automatsko zamračivanje (engl. Shading) – automatsko upravljanje roletama i zastorima</li>
  <li>  Svijet multimedije – koncept već prisutan u osobnom računalu i zasebnim električkim uređajima sada objedinjen, prostorno raspodijeljen, internetski ažuriran i reproduciran po cijeloj kući -
  </li>
  <li>
    RF upravljanje – uključivanje raznih električnih uređaja (AGD kućanski aparati, žarulje,...)</li>
  <li>
    Zvučna i vizualna komunikacija unutar i izvan kuće</li>
  <li>
    “Online Home“ i “Mobile Home“ – zadavanje zadataka preko interneta ili mobilnom mrežom pomoću mobilnog uređaja</li>
  <li>  Odabir scenarija – pametna kuća obavlja unaprijed pripremljene i povezane radnje u svrhu jednostavnosti, operabilnosti i opuštanja uključivanje ili isključivanje električnih potrošača, sustav ventilacije, vanjske žaluzine, te sigurnosni protupožarni sustav
  </li>
</ul>
</p>
