<div class="col-xs-12" style="height:25px;"></div>

<div class="col-sm-12">
  <div class="btn-group btn-group-lg" role="group">
    <button class="btn btn-success bnt-lg spc-btn" id="button" onclick="send_command(4)" >
      On
    </button>
    <button class="btn btn-success bnt-lg" id="btn-off" onclick="send_command(5)">
      Off
    </button>
  </div>

  <button class="btn btn-warning btn-lg spc-btn" id="automatic" onclick="send_command(3)">
    Automatic
  </button>
</div>